<!DOCTYPE html>
<html lang="en">
    <%- include ./common/head.ejs %>
    <body>
        <div class="linksWrapper">
            <div class="content">
                <%- include ./common/reset.ejs %>
                <div class="title">HTML price parser from csv file</div>
                <div>
                    <div class="fileDisclaimer">
                        Was found <span class="listCount"><%= prices.length %></span> prices by links from file <span id="fileName"><%= file%></span>
                    </div>
                    <div class="priceList">
                        <% prices.map((priceInfo, idx) => { %>
                            <div>
                                <div class="thingName">
                                    <span><%= idx%>:&nbsp;</span>
                                    <span><%= priceInfo['name'] %></span>
                                </div>
                                <div class="prices">
                                    <div class="price">
                                        <span>actual price: </span>
                                        <span><%= priceInfo['priceActual'] %>;</span>
                                    </div>
                                    <div class="price">
                                        <span>not actual price: </span>
                                        <span><%= priceInfo['priceCross'] %>;</span>
                                    </div>
                                    <div class="price">
                                        <span>with Ozon card price: </span>
                                        <span><%= priceInfo['priceWithOzonCard'] %>;</span>
                                    </div>


                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
                <div class="submitWrapper">
                    <button onclick="saveToCsv('<%= file%>')">Import all to cvs</button>
                </div>
            </div>
        </div>
    </body>
</html>
